<ion-view>
    <ion-header-bar>
        <a href="javascript:history.back()" class="comment-link"><i class="icon backarr"></i></a>
        <h1>设置</h1>
    </ion-header-bar>
    <ion-content class="setup">
            <ul>
                <li><a href="javascript:;">账号管理<i></i></a></li>
                <li><a href="javascript:;">账号安全<i></i></a></li>
            </ul>
        <ul>
            <li><a href="javascript:;">消息<i></i></a></li>
            <li><a href="javascript:;">隐藏<i></i></a></li>
            <li><a href="javascript:;">反馈意见<i></i></a></li>
        </ul>
        <ul>
            <li><a href="javascript:;">关于植物帮<i></i></a></li>
            <li><a href="javascript:;">清除缓存<span>24.5MB</span><i></i></a></li>
        </ul>
        <button  ng-click="exit()">退出账号</button>
    </ion-content>
</ion-view>