<ion-view>
    <ion-content>
        <div style="position: relative">
            <ion-slide-box class="welcome"  auto-play="true" slide-interval="1200">
                <ion-slide>
                    <div><img src="images/circle/qqq.jpg"></div>
                </ion-slide>
                <ion-slide>
                    <div><img src="images/circle/ztc-24.jpeg"></div>
                </ion-slide>
                <ion-slide>
                    <div><img src="images/circle/ggg.jpg"></div>
                </ion-slide>
            </ion-slide-box>
            <!--<img src="images/yindao.jpg" style="width: 100vw; height: 100vh;">-->
            <p style="position: absolute;right: 5vw;top: 3vh;color: #fff;font-size: 15px;">{{count}}s</p>
        </div>

    </ion-content>
</ion-view>
