<ion-view view-title="庭院深深">
    <ion-header-bar>
        <a ui-sref="tabs.home"><i class="icon backarr"></i></a>
        <h1>庭院深深</h1>
    </ion-header-bar>
    <ion-content class="indoor" overflow-scroll='false'>
        <div ng-repeat="courtyardPlant in plantList[0].category[1].courtyard" class="indoor-content">
            <div class="indoor-img">
                <img ng-src="{{courtyardPlant.img}}">
            </div>
            <h4 class="indoor-title">{{courtyardPlant.title}}</h4>
            <p class="indoor-desc">{{courtyardPlant.desc}}</p>
            <ul class="cate-icon courtyard-icon clearfix">
                <li><a href="javascript:;" class="icon-img"><i class="icon"></i> {{courtyardPlant.share}}</a></li>
                <li><a href="javascript:;" class="icon-img"><i class="icon"></i> {{courtyardPlant.comment}}</a></li>
                <li><a href="javascript:;" class="icon-img"><i class="icon"></i> {{courtyardPlant.favor}}</a></li>
            </ul>
        </div>
    </ion-content>
</ion-view>